@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* Light theme (default) */
@plugin "daisyui/theme" {
	name: "light";
	default: true;
	--color-primary: #ff0808;
	--color-secondary: #ff6363;
	--color-secondary-content: white;
	--color-accent: oklch(86% 0 0/1);
	--color-accent-content: black;
	--color-neutral: #333333;
	--color-base-100: #ffffff;
	--color-base-content: #000000;
	--color-info: #3ABFF8;
	--color-success: #36D399;
	--color-warning: #FBBD23;
	--color-error: #F87272;
}

/* Custom dark theme */
@plugin "daisyui/theme" {
	name: "dark";
	default: true;
	--color-primary: #ff0808;
	--color-secondary: #d95252;
	--color-secondary-content: black;
	--color-accent: rgb(59, 66, 75);
	--color-accent-content: white;
	--color-neutral: #374151;
	--color-base-100: rgb(15, 15, 20);
	--color-base-content: #ffffff;
	--color-info: #3ABFF8;
	--color-success: #36D399;
	--color-warning: #FBBD23;
	--color-error: #F87272;
}

@theme {
  --font-sans: "Barlow", sans-serif;
  --radius-sm: 2px;
  --radius-DEFAULT: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 10px;
  --radius-2xl: 12px;
  --radius-3xl: 16px;
}

@layer base {
	html {
		@apply text-base;
		@apply font-sans;
	}
}

@layer utilities {
	p {
		@apply text-base;
	}
}

body {
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}